<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/phone.css" rel="stylesheet">
</head>
<body>
<div class="todowrap"> <!--전체구역 -->
    <h1> 전화번호 </h1>
    <div class="todo_top"> <!--쓰기 구역 -->
        <input placeholder="이름" class="pname" type="text"/>
        <input  placeholder="전화번호" class="pnumber" type="text"/>
        <button onclick="doPost()" type="button"> 등록 </button>
    </div>

    <div class="todo_bottom"> <!-- 출력 구역 -->

    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/phone.js"></script>
</body>
</html>