<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/todo.css" rel="stylesheet">
</head>
<body>
    <div class="todowrap">
        <h1> 나만의 할 일 목록</h1>
        <div class="todotop">
            <input type="text"/>
            <button type="button"> 등록 </button>

        </div>
        <div class="todo_bot">
            <div class="todo">
                <div>리엑트 배우기</div>
                <div class="etcbtns">
                    <button type="button"> 상태변경</button>
                    <button type="button"> 제거하기</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/todo.js"></script>
</body>
</html>