<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/todo.css" rel="stylesheet">
</head>
<body>
<div class="todowrap"> <!--전체구역 -->
    <h1> 나만의 할일 목록 </h1>
    <div class="todo_top"> <!--쓰기 구역 -->
        <input class="tcontent" type="text"/>
        <button onclick="postTest()" type="button"> 등록 </button>
    </div>

    <div class="todo_bottom"> <!-- 출력 구역 -->

    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/todo.js"></script>
</body>
</html>